<div class="container mt-4 ">
  <div class="row">
    <div class="col-4">
      <h4>People</h4>
      <app-people-list-item *ngFor="let person of people" [person]="person"></app-people-list-item>
    </div>
    <div class="col-4">
      <h4>Planets</h4>
      <app-planets-list-item *ngFor="let planet of planets" [planet]="planet"></app-planets-list-item>
    </div>
    <div class="col-4">
      <h4>Starships</h4>
      <app-starships-list-item *ngFor="let starship of starships" [starship]="starship"></app-starships-list-item>
    </div>

  </div>
</div>
