header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#apiKeyDisplay {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20%; /* Ajuste conforme necessário */
}