/* Estilos da Barra de Pesquisa */
#search-bar {
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
}

#search-input {
    margin-right: 10px;
    padding: 5px;
}

#search-button {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
    border-radius: 5px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #23527c;
    border-color: #1e466e;
}
