
body {
    background-color: #544C32;
    font-family: Trebuchet MS;
    text-align: center;
    color: #f0f0f0;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;
    color: #ffffff;
}

.result-style{
    display: flex;
    text-align: left;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgb(0 0 0/ 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#img {
    max-height: 300px;
    border-radius: 20px;
    margin: 20px;
    object-fit:contain;
}


.autocomplete-container {
    position: relative;
    display: inline-block;
}

#characterId {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#autocomplete-list {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 150px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1000;
}

#autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    color:rgb(0, 0, 0)
}

#autocomplete-list li:hover {
    background-color: #f0f0f0;
    color:rgb(0, 0, 0)
}
#btn-go,
#btn-reset {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #383221;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 8px;
}

#btn-reset {
    background-color: #383221;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#btn-go:hover,
#btn-reset:hover {
    background-color: #2980b9; 
}

a {
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold; 
    transition: color 0.3s; 
    
}

a:hover {
    color: #cfc2c2;
}
