<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Movie Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Conteúdo do modal vai aqui -->
                <p id="modalOverview"></p>
                <img id="modalPoster" class="img-fluid" src="" alt="Movie Poster">
                <p><strong>Release Date:</strong> <span id="modalReleaseDate"></span></p>
                <p><strong>Runtime:</strong> <span id="modalRuntime"></span> minutes</p>
                <p><strong>Genres:</strong> <span id="modalGenres"></span></p>
                <p><strong>Tagline:</strong> <span id="modalTagline"></span></p>
                <p><strong>Original Language:</strong> <span id="modalOriginalLanguage"></span></p>
                <p><strong>IMDb ID:</strong> <span id="modalImdbId"></span></p>
                <!-- Adicione mais informações conforme necessário -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>