@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root{    
    --main-blue: #2D42F9;
    --main-yellow: #FAD134;
}

* {
    transition: all 0.125s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 5px 30px;
}

h1{
    font-family: 'Open Sans', sans-serif;
}

button{
    background-color: var(--main-yellow);
    margin-left: 10px;
    border-radius: 20%;
    font-size: 16px;
}
button:hover{
    background-color: lightyellow;
    cursor: pointer;
}