<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Hackernews</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="ml-auto form-inline my-2 my-lg-0">
      <button class="mr-3 btn btn-outline-primary my-2 my-sm-0" (click)="random()" type="submit">Aleatório</button>
      <input class="form-control mr-sm-2" [(ngModel)]="query" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="'/search/' + query" type="submit">Search</button>
    </div>
  </div>
</nav>
